{% comment %} Description: Petition GDPR variant - scroll to consent {% endcomment %}
{% comment %} Primary layout: true {% endcomment %}

{% include 'Small Header' %}

<div class="center-content center-content--accomodates-stuck-footer">
  <div class="center-content__big-column">
    <div class="mobile-show pre-main-bar">{% include 'Thermometer' %}</div>
    {% include 'Body Text' %}
  </div>

  <div class="center-content__fixed-right center-content--push-down">
    {% include 'Petition Sidebar', extra_class: 'stuck-right not-sticky gdpr consent-variant-scrolling' %}
  </div>
</div>

<div class="center-content center-content--accomodates-stuck-footer petition-and-scroll-to-share__yes-no-question-wrapper">
  <div class="center-content__one-column">

    <div class="center-content__central-square">
      <h1 class="thank-you__thanks before-you-sign">
        {{ 'petition.before_you_sign' | val: 'petition_title', title | t }}
      </h1>
      <p class="opt-in-reason">{{ 'consent.opt_in_reason' | t }}</p>
      <button id="opt-in-button" class="button">{{ 'consent.accept_long' | t }}</button>
      <a id="opt-out-button">{{ 'consent.decline_long' | t }}</a>
      <p class="how-to-opt-out">{{ 'consent.how_to_opt_out' | t }}</p>
    </div>

  </div>
</div>

<div style="display: none" class="center-content center-content--accomodates-stuck-footer petition-and-scroll-to-share__two-step-wrapper">
  <div class="center-content__one-column">
    <div class="center-content__central-square">
      <h1 class="thank-you__thanks">
        {{ 'petition.thanks_for_signing' | val: 'petition_title', title | t }}
      </h1>
      <h1 class="thank-you__cta">{{ "share.two_step.cta" | t }}</h1>
      <div class="two-step__question">
        <div class="share-buttons">
          <div class="share-buttons__button button two-step__button two-step__accept">
            {{ 'share.two_step.accept' | t }}
          </div>
          <div class="share-buttons__button button two-step__button two-step__decline">
            {{ 'share.two_step.decline' | t }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="center-content center-content--accomodates-stuck-footer petition-and-scroll-to-share__share-wrapper">
  <div class="center-content__one-column">
    <div class="center-content__central-square">

      <div class="thank-you__cta">{{ 'share.cta' | t }}</div>

      <div class="center-content__centered-element">
        {% include 'Share' %}
      </div>
    </div>

  </div>
</div>

<div class="center-content center-content--accomodates-stuck-footer petition-and-scroll-to-share__fundraiser-wrapper ">
  <h1 class="thank-you__cta intro"> {{ 'petition_and_scroll.fundraiser_intro' | t }} </h1>
  {% capture fundraiser_title %} {{ 'share_and_donate.fundraiser_title' | t }} {% endcapture %}
  {% include 'Fundraiser Refactor', freestanding: true, fundraiser_title: fundraiser_title %}
</div>

{% include 'Petition Mobile Footer' %}
{% include 'Small Image Footer' %}

<script type="text/javascript">
  var $form = $('.petition-bar .action-form');
  var $sidebar = $('.petition-bar.sidebar');
  var $countrySelect = $('.petition-bar select[name=country]');
  var $submitButton = $('.petition-bar.gdpr .action-form__submit-button');
  var petitionOverlayButton = $('.petition-bar__mobile_ui__bottom_bar');
  var consentQuestion = $('.petition-and-scroll-to-share__yes-no-question-wrapper');
  var yesNoQuestion = $('.petition-and-scroll-to-share__two-step-wrapper');
  var shareStep = $('.petition-and-scroll-to-share__share-wrapper');
  var fundraiserStep = $('.petition-and-scroll-to-share__fundraiser-wrapper');

  /* Add a container div for the gdpr consent component */
  $('.petition-bar.gdpr form button[type=submit]').before('<div id="consent-section"></div>');


  /* Create a "Next" button in place of the submit button. This will scroll to
     our actual GDPR consent buttons */
  $submitButton.after('<button type="button" class="button scroll-to-consent">{{ "petition.next" | t }}</button>');

  var $nextButton = $('.petition-bar.gdpr button.scroll-to-consent');
  $nextButton.hide();
  $nextButton.on('click', function () {
    if (checkForm()) {
      $sidebar.fadeOut();
      petitionOverlayButton.fadeOut();
      displayAndScrollToConsent();
    }
  });


  $('#opt-in-button').on('click', function () {
    window.champaign.store.dispatch({
      type: '@@champaign:member:change_consent',
      consented: true
    });
    setTimeout(function () { $form.submit(); }, 300);
    displayAndScrollToYesNoQuestion();
  });

  $('#opt-out-button').on('click', function () {
    displayAndScrollToYesNoQuestion();
  });

  $(document).ready(function(){
    var petitionOverlayButton = $('.petition-bar__mobile_ui__bottom_bar');
    var yesNoQuestion = $('.petition-and-scroll-to-share__yes-no-question-wrapper');
    var shareStep = $('.petition-and-scroll-to-share__share-wrapper');
    var fundraiserStep = $('.petition-and-scroll-to-share__fundraiser-wrapper');

    new window.champaign.Petition({
      redirectAfterAction: false,
      submissionCallback: petitionCallback
    });

    /* Create a hidden ConsentComponent that will hold check boxes */
    new window.champaign.ConsentFeature({
      container: document.getElementById('consent-section'),
      variant: 'hidden-irrelevant'
    });

    toggleNextButton();
    $countrySelect.on('change', function () {
      toggleNextButton();
    });

    $('.two-step__accept').click(displayAndScrollToShare);
    $('.two-step__decline').click(displayAndScrollToDonate);

    $.subscribe('fundraiser:transaction_success', function(event, responseData, formData) {
      window.champaign.redirectors.AfterDonationRedirector.attemptRedirect("{{ follow_up_url }}", formData);
    });

    var interval = setInterval(function() {
      if(SharePop && SharePop.FB){
        clearInterval(interval);
        SharePop.FB = function(link) {
            var shareURL = link.getAttribute('default_share') ? link.href : this.FB_Link(link)
              , w = this.isMobile.any() ? '300' : '526'
              , h = this.isMobile.any() ? '300' : '636';

            var win = window.open(shareURL, '_blank');
            win.focus();
            if (!link.getAttribute('default_share')) {
                this.sendShare('f', link);
                this.triggerShare('f', link);
                displayAndScrollToDonate();
            }
        }
      }
    }, 100);
  });

  function checkForm() {
    if (!$('.action-form__welcome-text').hasClass('hidden-irrelevant')) return true;
    var emailValid = validateEmail();
    var countryValid = validateCountry();
    var nameValid = validateName();
    return emailValid && countryValid && nameValid;
  }

  function validateEmail() {
    var $field = $('.form--big.action-form input[name="email"]');
    var email = $field.val();
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    if (!re.test(email)) {
      $field
        .addClass('has-error')
        .closest('.sweet-placeholder')
        .addClass('has-error')
        .append('<div class="error-msg">{{"errors.this_field" | t}} {{"validation.is_invalid_email" | t}}</div>');
    }
    return re.test(email)
  }

  function validateName() {
    var $field = $('.form--big.action-form input[name="name"]');
    if ($field.val()) return true;

    $field
      .addClass('has-error')
      .closest('.sweet-placeholder')
      .addClass('has-error')
      .append('<div class="error-msg">{{"errors.this_field" | t}} {{"validation.is_required" | t}}</div>');
    return false;
  }

  function validateCountry() {
    var $field = $('.form--big.action-form select[name="country"]');

    if ($field.val()) return true;
    $field
      .closest('.sweet-placeholder')
      .addClass('has-error')
      .append('<div class="error-msg">This field is required</div>');
    return false;
  }

  function toggleNextButton() {
    var isEU = window.champaign.store.getState().consent.isEU;

    if (isEU) {
      $nextButton.show();
      $submitButton.hide();
    } else {
      $nextButton.hide();
      $submitButton.show();
    }
  }

  function makeStepFullScreen(stepElement) {
    var padding = parseInt(stepElement.css('padding-top'), 10);
    var margin =  parseInt(stepElement.css('margin-bottom'), 10);
    var totalElementHeight = stepElement.height() + padding + margin;
    if (totalElementHeight < window.innerHeight) {
      stepElement.css('margin-bottom', margin + (window.innerHeight - totalElementHeight));
    }
  }

  function displayAndScrollToConsent() {
    makeStepFullScreen(consentQuestion);
    consentQuestion.fadeIn();
    scrollTo(consentQuestion);
  }

  function displayAndScrollToYesNoQuestion() {
    makeStepFullScreen(yesNoQuestion);
    yesNoQuestion.fadeIn();
    scrollTo(yesNoQuestion);
  }

  function displayAndScrollToShare() {
    makeStepFullScreen(shareStep);
    shareStep.fadeIn();
    scrollTo(shareStep);
  }

  function displayAndScrollToDonate() {
    makeStepFullScreen(fundraiserStep);
    fundraiserStep.fadeIn();
    scrollTo(fundraiserStep);
  }

  function scrollTo(element) {
    $('html, body').animate({scrollTop: element.offset().top}, 800);
  }

  function petitionCallback() {
    $sidebar.fadeOut();
    petitionOverlayButton.fadeOut();
    displayAndScrollToYesNoQuestion();
  }

</script>

<style type="text/css">
  h1.before-you-sign {
    font-weight: bold;
    color: black;
  }

  .opt-in-reason {
    margin: 20px 0;
    line-height: 1.6em;
  }

  .how-to-opt-out {
    font-size: 0.9em;
    margin-top: 20px;
    text-align: center;
  }

  #opt-in-button {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  #opt-out-button {
    margin-top: 10px;
  }
</style>
