<div class="cover-photo" style="background-image: url({{ primary_image.urls.large }})">
  <div class="cover-photo__overlay"></div>
  <div class="cover-photo__titles" style="bottom: 18px;">
    <div class="center-content">
      <div class="center-content__big-column" style="float:none; margin-left:0px; width:100%;">
        <div class="typography__highlight-wrapper" style="border-left:none;">
          <h1 class="cover-photo__title typography__highlight">
			{{ title }}
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mobile-title">
  <div class="center-content__one-column" style="text-align:center;">
    <h1 class="cover-photo__title js-personalisation-first">{{ title }}</h1>
  </div>
</div>
<div class="center-content">
  <div class="center-content__one-column">
    <div class="center-content__central-square body-text center-body-content">
      <div class="pre-widget-text yes-pre-text"></div>
      <script src="https://cdn.yesgraph.com/yesgraph-invites.min.js"></script>
      <span id="yesgraph" class="yesgraph-invites" data-app="dc96b99b-5c99-4239-8fd1-1c3ec738a22d"></span>
      <div class="center-grey-box">
      {{ content }}
      </div>
      {% unless link_list == blank %}
        <hr class="stubby-hr" />
        <h3>{{ 'page.more_info' | t }}</h3>
        {% include 'Links' %}
      {% endunless %}
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).on('set.yesgraph.recipients', function(e, recipients){
    console.log(recipients.length);
    if (recipients.length) {
      $('form.action-form input[name="action_referral_count"]').val(recipients.length);
    }
    $('form.action-form').submit();
  });
  $(document).ready(function(){
    var chmp = window.champaign; // convenience binding
    chmp.myActionForm  = new chmp.ActionForm({
      member:           chmp.personalization.member,
      outstandingFields:chmp.personalization.outstandingFields,
      location:         chmp.personalization.location,
      akid:             chmp.personalization.urlParams.akid,
      source:           chmp.personalization.urlParams.source,
      prefill:          true
    });
    Backbone.on('form:submitted', function(){
      console.log('form submitted');
      window.location.href = chmp.yesgraphFollowUp || "{{ follow_up_url }}";;
    });
    if (window.champaign.personalization.member.id) {
      $('#yesgraph').data('r_id', window.champaign.personalization.member.id);
    }
    if (window.champaign.personalization.member.first_name) {
      $('#yesgraph').data('r_fname', window.champaign.personalization.member.first_name);
    }
    if (window.champaign.personalization.member.last_name) {
      $('#yesgraph').data('r_lname', window.champaign.personalization.member.last_name);
    }
    $('#yesgraph').data('url', location.origin + location.pathname);
  });
</script>

<div style="display: none;">
  {% include 'Petition', skip_javascript: 1 %}
</div>
<style>
  .center-grey-box{
    margin: 0 20px;
  border: solid 0.5px #e6e6e6;
  background-color: #f9f9f9;
    padding: 50px 32px;
  }
  .yes-pre-text{
    margin-top: 65px;
    padding: 0 40px;
  }
  @media (max-width: 700px) {
      .yes-pre-text{
        margin-top: 0px;
    padding: 0 32px;
  }
    .center-grey-box{
      margin: 0;
    }
    
  }
  .center-body-content{
    width: 100%;
    padding: 0;
    text-align: left;
    margin-top: 0;
    justify-content: flex-start;
  }

  .yes-widget-container .yes-contact-import-btn.yes-no-label .yes-contact-import-btn-text {
    display: block;
  }
  .yes-widget-container .yes-contact-import-btn .yes-contact-import-btn-icon,
  .yes-widget-container .yes-contact-import-btn.yes-no-label:hover:after,
  .yes-widget-container .yes-contact-import-btn.yes-no-label:hover:before {
	display: none;
  }
  .yes-widget-container .yes-contact-import-btn,
  .yes-widget-container .yes-contact-import-btn.yes-no-label,
  .yes-widget-container .yes-default-btn {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #f8492e;
	/* add-ons */
	max-width: 48%;
    float: left;
    margin: 0 1% 10px;
  }
  .yes-widget-container .yes-default-btn.yes-manual-input-submit {
    float: right;
  }
  .yes-widget-container .yes-contact-import-btn:hover,
  .yes-widget-container .yes-contact-import-btn.yes-no-label:hover,
  .yes-widget-container .yes-default-btn:hover {
  	background-color: #f73415;
  }
  .yes-widget-container .yes-manual-input-field {
    float: left;
    margin: 0 1% 10px;
  }
  .yes-invite-link-section {
    display: none !important;
  }
  .yes-widget-container .yes-flash-error {
    background-color: #8a1a1a;
    border-color: #8a1a1a;
  }
  .yes-widget-container .yes-flash {
    overflow: hidden;
    margin-left: 1%;
  }
</style>

{% include 'Simple Footer' %}